*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px 100px;
    color: rgb(0, 0, 95);
}

.logo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 5%;
    align-items: center;
}

.logo p{
    font-size: 30px;
}

.icons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 60%;
    align-items: center;
}

.icons p{
    color: rgb(0, 0, 95);
}

.signup{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 10%;
    align-items: center;
}

.signup button{
    background: none;
    border-radius: 5px;
    padding: 5px 10px;
}

.starting{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-left: 20px;
    height: 500px;
    margin-left: 30px ;
    margin-right: 30px;
    color: white;
    background-color: violet;
    align-items: center;
    border-radius: 30px 30px 120px 30px;
}

.text{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 35%;
    height: 400px;
}

.text button{
    color: white;
    background-color: blue;
    border: none;
    width: 100px;
    height: 30px;
    border-radius: 7px;
}

.others{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: rgb(0, 0, 95);
    margin: 50px 100px;
    align-items: center;
}

.cards{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 80%;
    height: 250px;
}

.cards div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 2px solid violet;
    border-radius: 20px;
}

.others .text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 250px;
}

.profile{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: violet;
    align-items: center;
    margin: 30px 30px;
    border-radius: 120px 30px 120px 30px;
    color: white;
    
}

.about{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
    align-items: center;
    height: 350px;
    padding-bottom: 50px;
}

.photo{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.switch{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: rgb(0, 0, 95);
}

.courses{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: rgb(0, 0, 95);
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
}

.courses .card{
    border: 2px solid violet;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    padding-top: 30px;
    padding-bottom: 20px;
}

.courses .card div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.courses .card div img{
    height: 20px;
}

.courses .card button{
    background-color: violet;
    border: none;
    border-radius: 10px;
    height: 40px;
    width: 100px;
    color: white;
}

.discount{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(93, 93, 248);
    border-radius: 20px;
    margin: 30px;
    color: white;
}

.code{
    width: 30%;
    height: 250px;
}

.code button{
    background-color: violet;
    border: none;
    height: 40px;
    width: 100px;
    border-radius: 10px;
    color: white;
}

.last{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: blue;
    margin: 30px;
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
}

.last .one{
    width: 30%;
}

.last .one div{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 30px;
}

.last .one input{
    height: 25px;
    background-color: #FFFFFF33;
    border-radius: 7px;
    border: none;
}

.last .one button{
    height: 25px;
    background-color: violet;
    border-radius: 5px;
    border: none;
}