.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.tags{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
}

.login{
    color: white;
    background-color: rgb(190, 3, 3);
    border: none;
}

.main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 40px;
    height: 90%;
}

.text{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.buttons{
    width: 200px;
    height: 30px;
}

.buttons .shop{
    color: white;
    background-color: red;
    border: none;
    margin: 10px;
}

.container2{
    height: 40%;
    width: 60%;
}

.container1{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.photo{
    
}
